@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to RobRecalde.com!</p>
<p>There may not be much here because this site was only recently created using Blazor WASM to test Cloudflare Pages on a fancy new dns, but 15 minutes later its live!</p>


<SurveyPrompt Title="How is Blazor working for you?" />
